:root {
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #000000;
    --tertiary-text-color: #4000FF;

    --primary-background-color: #000000;
    --secondary-background-color: #ffffff;
    --tertiary-background-color: #2C00EB;
}

@font-face {
    font-family: "Cygre Black";
    src:
        url("../fonts/ofont.ru_Cygre.ttf") format("ttf"),
}

@font-face {
    font-family: "Cygre Medium";
    src:
        url("../fonts/cygre-medium.ttf") format("ttf"),
        url("../fonts/cygre-medium.woff") format("woff"),
        url("../fonts/cygre-medium.woff2") format("woff2"),
}

@font-face {
    font-family: "Cygre Book";
    src:
        url("../fonts/cygre-book.ttf") format("ttf"),
        url("../fonts/cygre-book.woff") format("woff"),
        url("../fonts/cygre-book.woff2") format("woff2"),
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}

.header {
    padding: 24px 0;
}

.header__content {
    display: flex;
    align-items: center;
}

.burger {
    display: none;
    width: 40px;
    height: 34px;
    background-image: url('../img/burger.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nav {
    width: 100%;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.nav__item {
    padding: 4px 16px;
}

.nav__link {
    font-size: 24px;
    font-family: "Cygre Black", sans-serif;
    font-weight: 900;
    line-height: 100%;
    color: var(--primary-text-color);
    text-transform: uppercase;
}

.intro {
    position: relative;
    height: 620px;
    padding: 80px 224px 80px 80px;
    margin-top: 40px;
    border-radius: 40px;
    border: 1px solid #000000;
    background-color: var(--tertiary-background-color);
}

.intro__title {
    font-family: "Cygre Black", sans-serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.intro__rect-1 {
    position: absolute;
    top: 410px;
    right: -72px;
}

.intro__rect-2 {
    position: absolute;
    top: 489px;
    left: -40px;
}

.intro__mascot {
    position: absolute;
    top: 55px;
    left: 1059px;
}

.intro__text {
    margin-left: 683px;
    font-family: 'Cygre Book', sans-serif;
    font-size: 20px;
    font-weight: 350;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.intro__time {
    position: absolute;
    top: 342px;
    left: 665px;
}

.intro__date {
    position: absolute;
    top: 388px;
    left: 230px;
}

.intro__place {
    position: absolute;
    top: 462px;
    left: 578px;
}

.competitions {
    margin-top: 80px;
}

.competitions__title {
    margin: 0 auto 80px auto;
}

.competitions__content {
    display: grid;
    grid-template-columns: 676px 674px;
    column-gap: 10px;
}

.competition__block {
    position: relative;
    font-family: 'Cygre Black', sans-serif;
    font-size: 96px;
    font-weight: 900;
    letter-spacing: 0px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.competition__content {
    position: relative;
    padding: 50px 68px;
    border-radius: 60px;
    background-color: var(--tertiary-background-color);
}

.competition__text {
    font-family: 'Cygre Medium', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--primary-text-color);
}


.competition__year-1 {
    position: absolute;
    left: 8px;
    top: -48px;
}

.competition__year-2 {
    position: absolute;
    top: -40px;
    left: 411px;
}

.competition__block-text {
    position: absolute;
    top: 53px;
    left: 38px;
}

.competition__block-padding {
    padding-top: 115px;
}

.directions {
    position: relative;
    margin-top: 323px;
    padding-top: 40px;
    background-color: var(--secondary-background-color);
}

.directions__vector {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.directions__vector-1 {
    position: absolute;
    bottom: 740px;
    height: 566px;
    background-image: url('../img/BackVector.svg');

}

.directions__vector-2 {
    position: absolute;
    top: 775px;
    height: 480px;
    background-image: url('../img/BackVector.svg');
    transform: rotate(180deg);
    width: 100%;
}

.directions__text {
    margin-top: 92px;
    font-family: 'Cygre Black', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.directions__list {
    margin-top: 70px;
}

.directions__item {
    width: 100%;
    padding: 10px 40px;
    border-top: 1px solid #000000;
}

.directions__list:last-child {
    border-bottom: 1px solid #000000;
}


.directions__item-text {
    font-family: 'Cygre Black', sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.present {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    padding-top: 80px;
    margin-top: 453px;
    text-transform: uppercase;
}

.present__title {
    font-family: 'Cygre Black', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
}

.present__text {
    font-family: 'Cygre Black', sans-serif;
    font-size: 32px;
    line-height: 150%;
    font-weight: 900;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.support {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    margin-top: 80px;
}

.support__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.support__grid img {
    height: 140px
}

.organizers {
    display: grid;
    grid-template-columns: repeat(2, 675px);
    column-gap: 10px;
}

.organizers__block {
    padding: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Cygre Book', sans-serif;
    font-weight: 350;
    font-size: 20px;
    line-height: 150%;

}

.organizer__tel,
.organizer__name {
    font-family: 'Cygre Black', sans-serif;
    font-weight: 900;
}

.organizer__tel {
    margin-top: 6px;
}



.footer {
    margin: 80px 0px;
    font-family: 'Cygre Black', sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 475px) {

    .container {
        padding: 0 20px;
    }

    .burger {
        display: block;
    }

    .header__content {
        display: grid;
        grid-template-columns: auto 40px;
        justify-content: space-between;
    }

    .nav {
        display: none;
        width: 100%;
        height: 100vh;
        padding-top: 20px;
    }

    .nav.nav--active {
        display: block;
    }

    .nav__list {
        width: 100%;
        row-gap: 20px;
        align-items: baseline;
        flex-direction: column;
    }

    .nav__item {
        padding: 10px;
    }

    .intro {
        height: 368px;
        padding: 40px 20px;
    }

    .intro__title {
        position: relative;
        z-index: 1;
        font-size: 18px;
        line-height: 25px;
    }

    .mascot__container {
        position: absolute;
        top: 23%;
        left: 67%;
        max-width: 146px;
        max-height: 140px;
        overflow: hidden;
    }

    .intro__mascot {
        position: static;
        max-width: 146px;
    }

    .intro__date {
        top: 159px;
        left: 15px;
        max-width: 234px;
    }

    .intro__rect-1 {
        top: 61%;
        left: 50%;
        height: 18px;
    }

    .intro__rect-2 {
        top: 74%;
        left: auto;
        right: 72%;
        height: 18px;
    }

    .intro__text {
        position: absolute;
        top: 67%;
        left: 16px;
        margin: 0;
        font-size: 10px;
    }

    .intro__time {
        max-width: 159px;
        top: 72%;
        left: 30%;
    }

    .intro__place {
        top: 82%;
        left: 16px;
        max-width: 283px;
    }

    .competitions {
        margin-top: 20px;
    }

    .competitions__title {
        max-width: 314px;
        margin-bottom: 54px;
    }

    .competitions__content {
        grid-template-columns: auto;
    }

    .competition__content {
        padding: 20px;
        border-radius: 30px
    }

    .competition__text {
        font-size: 10px;
    }

    .competition__year-1 {
        max-width: 115px;
        left: -4px;
        top: -27%;
    }

    .competition__block-padding {
        padding-top: 46px;
    }

    .competition__block-text {
        max-width: 158px;
        top: 9%;
        left: 5%;

    }

    .competition__year-2 {
        top: -20%;
        left: 60%;
        max-width: 126px;
    }


    .directions {
        padding-top: 30px;
        margin-top: 139px;
    }

    .directions__title {
        max-width: 292px;
    }

    .directions__text {
        font-size: 14px;
        line-height: 15px;
        margin-top: 10px;
    }

    .directions__text br {
        display: none;
    }

    .directions__list {
        margin-top: 20px;
    }

    .directions__item-text {
        font-size: 10px;
        line-height: 100%;
    }

    .directions__vector-1 {
        height: 146px;
        bottom: 99%;
    }

    .directions__vector-2 {
        height: 161px;
        top: 99%;
    }


    .present {
        margin-top: 180px;
        row-gap: 32px;
    }

    .present__title {
        font-size: 15px;
        line-height: 20px;
    }

    .present__title br {
        display: none;
    }

    .present__text {
        font-size: 8px;
        line-height: 12px;
    }

    .organizers {
        grid-template-columns: auto;
        row-gap: 10px;
    }

    .organizers__block {
        padding: 12px 10px;
        font-size: 8px;
        line-height: 150%;
    }

    .organizer__name,
    .organizer__tel {
        font-size: 8px;
        line-height: 150%;
    }

    .support {
        margin-top: 32px;
        row-gap: 20px;
    }

    .footer {
        margin: 32px 0px;
        font-size: 14px;
    }

    main {
        overflow: hidden;
    }
}
